
body {
    font-family: ubuntu, sans-serif;
    background: #7B8183;
    margin: 0;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    min-height: 100vh;
}

.mainHeader {
    font-size: 60px;
    text-shadow: 3px 3px 10px black;
}

.sqncdHouse {
    display: flex;
    flex: 1;
}

.sqncd {
    background: #5F9F89;
    width: 1000px;
    height: 500px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    padding: 5px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.topBody {
    margin-top: 100px;
}

.topInner {
    display: flex;
}

#muno {
    color: #BC81BF;
    font-size: 40px;
    text-shadow: 3px 3px 10px black;
    margin: 0;
    width: 350px;
    text-align: center;
}

.midInner {

}

.sqncr {
    background: #DBDBDB;
    width: 800px;
    height: 300px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    
}
































footer {
    display: flex;
    background-color: #BC81BF;
    color: white;
    justify-content: center;
    align-items: flex-start;
    text-shadow: 3px 3px 50px black;
    box-shadow: 3px 3px 10px black;
    font-size: 20px;
    width: 100%;
    height: 60px;
    padding: 20px;
    margin-top: auto;
}