a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.sqncdBody {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wood {
    width: 32px;
    height: 656px;
    padding: 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black;
    background-color: #363532;
}

.sqncd {
    background: #c7c6c6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1008px;
    height: 624px;
    max-height: 80vh;
    padding: 5px;
    padding-bottom: 32px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    box-shadow: 3px 3px 10px black;
}

.controlSection {
    width: 960px;
    gap: 10px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 272px;
    font-size: 10px;
}

h1 {
    color: #bc81bf;
    margin-bottom: 5px;
}

.left {
    width: 200px;
}

.displays {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.displayHead {
    margin-bottom: 5px;
}

.tempoDisplay {
    margin-bottom: 35px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    height: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    box-shadow: 3px 3px 8px black;
    border: 1px solid black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 20px;
    background: #bc81bf;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
}

#tempo, #swing {
    width: 80px;
    height: 30px;
    font-size: 24px;
    border: 2px solid #9d81bf;
    margin-bottom: 6px;
    background: black;
    color: white;
    text-align: center;
}

.transport {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.transportButton {
    width: 80px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 12px black;
    color: #bc81bf;
    background: white;
    text-align: center;
}

#stop {
    background: #ee9abd;
    color: white;
}

.midleft {
    width: 28%;
}

.dropArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
}

.dropHouse {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    color: #bc81bf;
}

#deviceDropdown, #scaleDropdown { width: 150px; }
#channelDropdown, #keyDropdown { width: 50px; }

select {
    height: 32px;
    padding: 5px;
    margin: 0 3px;
    font-size: 13px;
    border-radius: 4px;
    color: white;
    background: black;
    border: 3px solid #9d81bf;
}

.octaveArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #bc81bf;
    margin-top: 3px;
}

.octaveButtonHouse {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
}

.octaveButton {
    width: 20px;
    height: 25px;
    box-shadow: 3px 3px 4px black;
    border-radius: 4px;
    background: white;
    border: none;
}

.pitchArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    align-items: center;
    color: #bc81bf;
    margin-top: 3px;
}

.pitchButton {
    width: 19px;
    height: 35px;
    margin: 0 3px;
    border-radius: 6px;
    box-shadow: 3px 3px 4px black;
    background: white;
    border: none;
}

.flat { background: black; }
#octaveMid { background: #94d0ff; }
#C { background: #ecc987; }

#sqnc, #reset, #clock {
    background-color: #bc81bf;
    color: white;
    width: 150px;
    height: 48px;
    border-radius: 11px;
    font-size: 30px;
    box-shadow: 3px 3px 12px black;
    border: none;
}

.midRight {
    width: 200px;
}

.clockHouse {
    margin-top: 20px;
    gap: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
}

.clockSlider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #7b8183;
    transition: 0.4s;
    border-radius: 34px;
}

.clockSlider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .clockSlider:before {
    transform: translateX(35px);
}

.right {
    text-align: right;
    width: 176px;
}

#logo {
    color: white;
    text-shadow: 3px 3px 10px black;
    margin: 0;
    font-size: 60px;
}

.bottom {
    display: flex;
    height: 100%;
    justify-content: space-between;
    gap: 32px;
}

.buttonFunctionsArea {
    margin-top: 21px;
    height: 300px;
    width: 91px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttonFunctions {
    width: 80px;
    height: 35px;
    border-radius: 11px;
    font-size: 17px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 12px black;
    color: white;
    background: #bc81bf;
    border: none;
}

.sqncr {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    margin-top: 30px;
}

.row {
    display: flex;
    margin-top: 5px;
}

.gridButton {
    width: 43px;
    height: 62px;
    margin: 0 5px;
    font-size: 14px;
    box-shadow: 3px 3px 12px black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: white;
    background: white;
    border: none;
}

.rowFourColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    color: #9d81bf;
    font-weight: bold;
}

.last { 
    border: 5px solid #4b34e5; 
}
.copier { 
    border: 5px solid #922793; 
}
