{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="contactHouse">
        <h1 id="contactHeader"> Contact Us</h1>
        <div class="contactPage">
            <h2 id="contactCopy">If you have any questions, comments, suggestions, <br> love or hate, please send it our way</h2>
            <form class="contactForm" action="https://formsubmit.co/094c715ea4ea611b928004f561767669" method="POST">

                <!-- Honeypot -->
                <input type="text" name="_honey" style="display: none;">
                <!-- Disable Captcha -->
                <input type="hidden" name="_captcha" value="false">
                <!-- forward if succesful -->
                <input type="hidden" name="_next" value="https://www.sqncd.com/success">

                <input type="text" placeholder="name" name="name" class="contact" required>
                <input type="email" placeholder="email" name="email" class="contact" required>
                <input type="subject" placeholder="subject" name="_subject" class="contact" required>
                <textarea type="text" name="message" class="contact message" required></textarea>
                <button type="submit" class="contactSubmit">Send</button>
            </form>
        </div>
    </div>

{% endblock %}