{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div>
        <h1 id="mainSqncdLogo"><strong>sqncd</strong> </h1>
        <h2 id="mainSubscript">random pattern generator and sequencer</h2>
        <div class="homeCopy">
            <ul id="introList">
                <li>64 step sequencer</li>
                <li>randomly assign notes based on key and scale selection</li>
                <li>add accents and ghost notes</li>
                <li>instanely delete all steps with reset button</li>
                <li>copy from step to step</li>
                <li>tempo from 4bpm to 300bpm</li>
                <li>midi output to instruments connected via usb</li>
            </ul>
            <img id="homeImage" src="static/css/sqncd-promo.png" alt="sqncd promo shot" width="700" height="400">
        </div>
    </div>


{% endblock %}