{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="homeBody">
        <h1 id="mainSqncdLogo"><strong>sqncd</strong> </h1>
        <h2 id="mainSubscript">midi sequencer and random pattern generator</h2>
        <div class="homeCopy">
            <img id="homeImage" src="static/css/sqncd-promo.png" alt="sqncd promo shot" width="700" height="400">
            <ul id="introList">
                <li>64 step sequencer</li>
                <li>option to randomly assign notes based on key and scale selection</li>
                <li>sqnc button generates a random pattern</li>
                <li>add up to 3 octaves up or down</li>
                <li>accents and ghost notes</li>
                <li>instantly delete all steps with reset button</li>
                <li>copy from step to step</li>
                <li>choose length of pattern</li>
                <li>tempo from 4bpm to 300bpm</li>
                <li>swing value from 0 to 100</li>
                <li>send midi notes to an instrument connected via usb</li>
                <li>option to send clock to all instruments connected via usb</li>
            </ul>
        </div>
    </div>

{% endblock %}