{% extends "layout.html" %}

{% block title %}
    Manual
{% endblock %}

{% block main %}

        <iframe src="static/manuals/sqncd_user_manual.pdf" title="userManual" class="desktopManual" id="userManualDesktop" toolbar="1" 
        zoom="70%" frameborder="0" allowfullscreen=""></iframe>
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vTeHxNOrW9d725V8EL5AI1NmscsX01aU7OmvxWGDWpJQRlN5JuuM8O8ckdtkm3pa5-uUcGPTmybeD0q/pub?embedded=true"
        class="mobileManual" id="userManualMobile"></iframe>


{% endblock %}