{% extends "layout.html" %}

{% block title %}
    Manual
{% endblock %}

{% block main %}

        <!-- <iframe src="https://docs.google.com/viewer?url=https://docs.google.com/document/d/1Ta4rkmUUpd_1FST4nlqrX_QGpne9C8m0YoyWjDWDeVU/preview?usp=sharing&embedded=true" title="userManual" id="userManual" toolbar="1" 
        zoom="70%" frameborder="0" allowfullscreen=""></iframe> -->
        <object data="mypdf.pdf" type="application/pdf" frameborder="0" width="100%" height="100%">
            <embed src="https://docs.google.com/document/d/1Ta4rkmUUpd_1FST4nlqrX_QGpne9C8m0YoyWjDWDeVU/preview?usp=sharing"> 
        </object>


{% endblock %}