{% extends "layout.html" %}

{% block title %}
    Quick Start
{% endblock %}

{% block main %}

        <iframe src="static/manuals/sqncd_quickstart.pdf" title="quickstartGuide" class="desktopManual" id="quickstartGuide" toolbar="1" 
        zoom="70%" frameborder="0" allowfullscreen=""></iframe>
        <a src="https://docs.google.com/document/d/e/2PACX-1vQmOuR7X_0aozUsOIjx2XBcc806yXT-tdfP_fyAkyY9FTu4YBXMqNVWuBGygVBD09mBLrAua0_MvPdo/pub?embedded=true"
        class="mobileManual" id="quickstartMobile" target="_blank"></a>

{% endblock %}