main {
    flex: 1;
}

@media screen and (max-width: 62rem) {
    main {
        width: 100%;
    }
}

/* rotate mobile devices to be in landscape */
@media screen and (max-width: 62rem) and (orientation: portrait) {
    body {
        transform: rotate(90deg);
        transform-origin: right top;
        width: 100%;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
    }
}

.header {
    font-size: .7rem;
    height: .3rem;
}

@media screen and (min-width: 54rem) {
    .header {
        font-size: .9rem;
        height: .5rem;
    }
}

@media screen and (min-width: 62rem) {
    .header {
        font-size: 1.8rem;
        height: 3rem;
        padding-top: .8rem;
        padding-bottom: .8rem;
    }
}

#muno {
    font-size: 1rem;
}

@media screen and (min-width: 54rem) {
    #muno {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 62rem) {
    #muno {
        font-size: 4rem;
    }
}

.headerRight {
    gap: 2rem;
}

@media screen and (min-width: 62rem) {
    .headerRight {
        margin-right: 2rem;
        gap: 1.7rem;
    }
}


/* sqncd */
.sqncdBody {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 62rem) {
    .sqncdBody {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.wood {
    width: 1rem;
    box-shadow: 3px 3px 10px black;
    background-color: #363532;
}

@media screen and (min-width: 62rem) {
    .wood {
        width: 2rem;
        height: 40rem;
        padding: 1px;
        border-radius: .3rem;
    }
}

.sqncd {
    background: #C7C6C6;
    width: 100%;
    border-style: solid;
    border-width: .0625rem;
    box-shadow: 3px 3px 10px black;
    border-left: none;
    border-right: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 62rem) {
    .sqncd {
        border-radius: .125rem;
        box-shadow: 3px 3px 10px black;
        margin-top: .7rem;
        width: 60rem;
        height: 35.6rem;
        padding: .3rem;
        padding-bottom: 2rem;
    }
}

.controlSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

@media screen and (min-width: 62rem) {
    .controlSection {
        width: 60rem;
        gap: .6rem;
    }
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .4rem;
    height: 90%;
}

@media screen and (min-width: 62rem) {
    .controls {
        height: 17rem;
        font-size: .6rem;
    }
}

h1 {
    color: #BC81BF;
    margin-bottom: 0;
}

@media screen and (min-width: 62rem) {
    h1 {
        margin-bottom: .3rem;
    }
}


/* left controls */
.left {
    width: 24%;
}

@media screen and (min-width: 62rem) {
    .left {
        width: 12.5rem;
    }
}

.displays {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 

@media screen and (min-width: 62rem) {
    .displayHead {
        margin-bottom: .31rem;
    }
}

.tempoDisplay {
    margin-bottom: 1rem;
}

@media screen and (min-width: 62rem) {
    .tempoDisplay {
        margin-bottom: 35px;
    }
}

.slider {
    -webkit-appearance: none;
    width: 5rem;
    appearance: none;
    height: .1rem;
    background: white;
    outline: none;
    opacity: 0.7;
    box-shadow: 3px 3px 8px black;
    border-style: solid;
}

@media screen and (min-width: 54rem) {
    .slider {
        width: 7rem;
        height: .2rem;
    }
}

@media screen and (min-width: 62rem) {
    .slider {
        width: 7.5rem;
        height: .3rem;
    }
}

.slider::-webkit-slider-thumb {
    -webkit-appearanace: none;
    appearance: none;
    width: .5rem;
    height: .9rem;
    background: #BC81BF;
    border: .1rem;
    border-style: solid;
    border-color: black;
    border-radius: 1.9rem;
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
}

@media screen and (min-width: 54rem) {
    .slider::-webkit-slider-thumb {
        width: .6rem;
        height: 1.2rem;
        border: .2rem;
    }
}

@media screen and (min-width: 62rem) {
    .slider::-webkit-slider-thumb {
        width: .8rem;
        height: 1.25rem;
        border: .125rem;
    }
}

.slider::-moz-range-thumb {
    width: .5rem;
    height: .9rem;
    background: #BC81BF;
    cursor: pointer;   
}

@media screen and (min-width: 54rem) {
    .slider::-moz-range-thumb {
        width: .6rem;
        height: 1.2rem;
        border: .2rem;
    }
}

@media screen and (min-width: 62rem) {
    .slider::-moz-range-thumb {
        width: .8rem;
        height: 1.25rem;
        border: .125rem;
    }
}

#tempo, #swing {
    width: 3rem;
    height: 1rem;
    font-size: .8rem;
    background: black;
    color: white;
    text-align: center;
    border-style: solid;
    border-color: #9D81BF;
    margin-bottom: .2rem;
}

@media screen and (min-width: 54rem) {
    #tempo, #swing {
        width: 4rem;
        height: 1.5rem;
        font-size: 1.2rem;
        border-width: .15rem;
        margin-bottom: .4rem;
    }
}

@media screen and (min-width: 62rem) {
    #tempo, #swing {
        width: 5rem;
        height: 1.9rem;
        font-size: 1.5rem;
        border-width: .15rem;
        margin-bottom: .4rem;
    }
}

.transport {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.transportButton {
    width: 3.2rem;
    height: 1.6rem;
    border-radius: .5rem;
    font-size: .8rem;
    box-shadow: 3px 3px 12px black;
    color: #BC81BF;
    background: white;
}

@media screen and (min-width: 54rem) {
    .transportButton {
        width: 4rem;
        height: 2rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 62rem) {
    .transportButton {
        width: 5rem;
        height: 2.5rem;
        font-size: 1.25rem;
    }
}

#stop {
    background: #EE9ABD;
    color: white;
}

/* middle controls */
.midleft {
    width: 25%;
}

@media screen and (min-width: 62rem) {
    .midLeft {
        width: 15.6rem;
    }
}

.scale {
    display: none;
}

.dropArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 7rem;
}

@media screen and (min-width: 62rem) {
    .dropArea {
        width: 11.25rem;
    }
}

.dropHouse {
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    justify-content: space-between;
    align-items: center;
    color: #BC81BF;
}

@media screen and (min-width: 62rem) {
    .dropHouse{
        font-size: .9rem;
    }
}

#deviceDropdown, #scaleDropdown {
    width: 5rem;
}

@media screen and (min-width: 54rem) {
    #deviceDropdown, #scaleDropdown {
        width: 6.5rem;
    }
}

@media screen and (min-width: 62rem) {
    #deviceDropdown, #scaleDropdown {
        width: 9.4rem;
    }
}

#channelDropdown, #keyDropdown {
    width: 3rem;
}

@media screen and (min-width: 62rem) {
    #channelDropdown, #keyDropdown {
        width: 3.125rem;
    }
}

select {
    height: 1.3rem;
    border-radius: .25rem;
    padding: .2px;
    margin-left: .1rem;
    margin-right: .1rem;
    color: white;
    background: black;
    text-align: center;
    border-style: solid;
    border-width: .2rem;
    border-color: #9D81BF;
    font-size: .5rem;
}

@media screen and (min-width: 62rem) {
    select {
        height: 2rem;
        padding: .3rem;
        margin-left: .2rem;
        margin-right: .2rem;
        font-size: .8rem;
    }
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.octaveArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #BC81BF;
    margin-top: .2rem;
}

.octaveButtonHouse {
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    justify-content: space-between;
    gap: .3rem;
    align-items: center;
}

@media screen and (min-width: 62rem) {
    .octaveButtonHouse {
        font-size: .9rem
    }
}

.octaveButton {
    width: 1rem;
    height: 1.2rem;
    box-shadow: 3px 3px 4px black;
    border-radius: .25rem;
    background: white;
}

@media screen and (min-width: 62rem) {
    .octaveButton {
    width: 1.25rem;
    height: 1.6rem;
    }
}

#octaveMid {
    background: #94D0FF;
}

#C {
    background: #ECC987
}

.pitchArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .1875rem;
    align-items: center;
    color: #BC81BF;
    margin-top: .2rem;
}

.pitchButton {
    width: .9rem;
    height: 1.4rem;
    margin-left: .2rem;
    margin-right: .2rem;
    box-shadow: 3px 3px 4px black;
    border-radius: .2rem;
    background: white;
}

@media screen and (min-width: 54rem) {
    .pitchButton {
        width: 1.1rem;
        height: 1.6rem;
        margin-left: .19rem;
        margin-right: .19rem;
        border-radius: .4rem;
    }
}

@media screen and (min-width: 62rem) {
    .pitchButton {
        width: 1.2rem;
        height: 2.19rem;
        margin-left: .19rem;
        margin-right: .19rem;
        border-radius: .4rem;
    }
}

.flat {
    background: black;
}

    #Eb {
        margin-right: 1.6rem;
    }

#Gb {
    margin-left: .375rem;
}

.sqnc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#sqnc, #reset, #clock {
    background-color: #BC81BF;
    color: white;
    width: 5.5rem;
    border-radius: .4rem;
    font-size: 1rem;
    box-shadow: 3px 3px 12px black;
}

@media screen and (min-width: 54rem) {
    #sqnc, #reset, #clock {
        width: 7rem;
        border-radius: .625rem;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 62rem) {
    #sqnc, #reset, #clock {
        width: 9.4rem;
        border-radius: .625rem;
        font-size: 1.9rem;
    }
}

.midRight {
    width: 25%;
}

@media screen and (min-width: 62rem) {
    .midRight {
        width: 12.5rem;
    }
}

.midi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.clockHouse {
    margin-top: .8rem;
    gap: .1rem;
}

@media screen and (min-width: 62rem) {
    .clockHouse {
        margin-top: 1.25rem;
        gap: .3rem;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.7rem;
    height: 1.5rem;
}

@media screen and (min-width: 62rem) {
    .switch {
        width: 4rem;
        height: 2rem;
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.clockSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7B8183;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.clockSlider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: .1rem;
    bottom: .15rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

@media screen and (min-width: 62rem) {
    .clockSlider:before {
        height: 1.5rem;
        width: 1.5rem;
        left: .1rem;
        bottom: .25rem;
    }
}

input:checked + .clockSlider {
    background-color: #BC81BF;
  }

input:focus + .clockSlider {
box-shadow: 0 0 1px #BC81BF;
}

input:checked + .clockSlider:before {
-webkit-transform: translateX(2.2rem);
-ms-transform: translateX(2.2rem);
transform: translateX(2.2rem);
}

.clockSlider.round {
    border-radius: 2.1rem;
}
  
.clockSlider.round:before {
border-radius: 50%;
}

/* right controls */
.right {
    text-align: right;
    width: 20%;
}

@media screen and (min-width: 62rem) {
    .right {
        width: 10.6rem;
    }
}

#logo {
    color: white;
    font-size: 3rem;
    text-shadow: 3px 3px 10px black;
    margin: 0;
}

@media screen and (min-width: 54rem) {
    #logo {
        font-size: 3.4rem
    }
}

@media screen and (min-width: 62rem) {
    #logo {
        font-size: 3.75rem
    }
}

/* bottom controls */
.bottom {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

@media screen and (min-width: 62rem) {
    .bottom {
        gap: .9rem;
    }
}

/* button functions */

.buttonFunctionsArea {
    height: 9rem;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (min-width: 54rem) {
    .buttonFunctionsArea {
        margin-top: .2rem;
        height: 10rem;
        width: 4rem;
    }
}

@media screen and (min-width: 62rem) {
    .buttonFunctionsArea {
        margin-top: .8125rem;
        height: 18.75rem;
        width: 5.625rem;
    }
}

.buttonFunctions {
    width: 2.6rem;
    height: 1.5rem;
    border-radius: .4rem;
    margin-bottom: .3rem;
    font-size: .5rem;
    box-shadow: 3px 3px 12px black;
    color: white;
    background: #BC81BF;
}

@media screen and (min-width: 54rem) {
    .buttonFunctions {
        width: 4rem;
        height: 1.8rem;
        border-radius: .5rem;
        font-size: .8rem;
    }
}

@media screen and (min-width: 62rem) {
    .buttonFunctions {
        width: 5rem;
        height: 2.1875rem;
        border-radius: .625rem;
        font-size: 1.0625rem;
    }
}

/* sqncr */
.sqncr {
    width: 36rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 54rem) {
    .sqncr {
        width: 41rem;
        height: 11rem;
    }
}

@media screen and (min-width: 62rem) {
    .sqncr {
        width: 50rem;
        height: 18.75rem;
    }
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    /* margin-top: 2rem; */
}

@media screen and (min-width: 62rem) {
    #buttonContainer {
        margin-top: 1.875rem;
    }
}

.row {
    display: flex;
    margin-top: .3125rem;
}

.gridButton {
    width: 1.5rem;
    height: 1.8rem;
    margin-left: .3rem;
    margin-right: .3rem;
    box-shadow: 3px 3px 12px black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: .5rem;
    color: white;
    background: white;
}

@media screen and (min-width: 54rem) {
    .gridButton {
        width: 1.8rem;
        height: 2.2rem;
        margin-left: .3125rem;
        margin-right: .3125rem;
        font-size: .5rem;
    }
}

@media screen and (min-width: 62rem) {
    .gridButton {
        width: 2.625rem;
        height: 3.9rem;
        margin-left: .3125rem;
        margin-right: .3125rem;
        font-size: .875rem;
    }
}

.rowFourColumn {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    color: #9D81BF;
    font-weight: bold;
    font-size: .8rem;
}

@media screen and (min-width: 54rem) {
    .rowFourColumn {
        gap: .25rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 62rem) {
    .rowFourColumn {
        gap: .3125rem;
        font-size: 1.0625rem;
    }
}

.last {
    border-style: solid;
    border-color: #4b34e5;
    border-width: .18rem;
    text-align: center;
}

@media screen and (min-width: 54rem) {
    .last {
        border-width: .2rem;
    }
}

@media screen and (min-width: 62rem) {
    .last {
        border-width: .3rem;
    }
}

.copier {
    border-style: solid;
    border-color: #922793;
    border-width: .18rem;
}

@media screen and (min-width: 54rem) {
    .copier {
        border-width: .2rem;
    }
}

@media screen and (min-width: 62rem) {
    .copier {
        border-width: .3rem;
    }
}


footer {
    height: .2rem;
}

.sqncdHide {
    display: none;
}

.sqncdFooter {
    display: inline;
}