.sqncdBody {
    display: flex;
}

.wood {
    width: 35px;
    box-shadow: 3px 3px 10px black;
    background-color: #363532;
    border-radius: 5px;
    height: 600px;
    padding: 1px;
}

.sqncd {
    background: #C7C6C6;
    width: 960px;
    height: 545px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px black;
    border-left: none;
    border-right: none; 
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.controlSection {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 250px;
    font-size: 10px;    
}

h1 {
    color: #BC81BF;
}


/* left controls */
.midi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dropArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
}

.dropHouse {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: space-evenly;

    align-items: center;
    color: #BC81BF;
}

select {
    height: 30px;
    border-radius: 4px;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    background: black;
    text-align: center;
}

#deviceDropdown {
    width: 150px;
}

#channelDropdown {
    width: 50px;
}

.tempo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#tempo, #swing {
    width: 80px;
    height: 30px;
    font-size: 25px;
    background: black;
    color: white;
    text-align: center;
}

.transport {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.transportButton {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 3px 3px 12px black;
    color: #BC81BF;
    background: white;
}

#stop {
    background: #EE9ABD;
    color: white;
}

/* midleft controls */

#keyDropdown {
    width: 50px;
}

#scaleDropdown {
    width: 150px;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.octaveArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #BC81BF;
}

.octaveButtonHouse {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.octaveButton {
    width: 20px;
    height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 3px 3px 4px black;
    border-radius: 4px;
    background: white;
}

#octaveMid {
    background: #ECC987;
}

#sqnc {
    background-color: white;
    color: #BC81BF;
}

/* midright controls */

.resetButtonArea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#sqnc, #reset {
    width: 150px;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: 3px 3px 12px black;
}

#reset {
    background-color: white;
    color: #9281BF;
}


/* right controls */
.rightControls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    width: 200px;
    gap: 40px;
}

#logo {
    color: white;
    font-size: 60px;
    text-shadow: 3px 3px 10px black;
    margin: 0;
}

/* bottom controls */
.bottom {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.buttonFunctionsArea {
    margin-top: 13px;
    height: 300px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttonFunctions {
    width: 80px;
    height: 35px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: 3px 3px 12px black;
    color: #BC81BF;
    background: white;
}

/* sqncr */
.sqncr {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    margin-top: 30px;
}

.row {
    display: flex;
    margin-top: 5px;
}

.gridButton {
    background-color: #9281BF;
    width: 40px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px 12px black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.columnOne {
    background-color: #94D0FF;
    color: #94D0FF;
}

.columnTwo {
    background-color: #8795E8;
    color: #8795E8;
}

.columnThree {
    background-color: #BC81BF;
    color: #BC81BF;
}

.columnFour {
    background-color: #9281BF;
    color: #9281BF;
}

.columnNumbers {
    width: 800px;
    justify-content: space-around;
    display: flex;
    font-weight: bold;
    font-size: 15px;
    gap: 10px;
}

.rowFourColumn {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



