.sqncdBody {
    display: flex;
}

.wood {
    width: 35px;
    box-shadow: 3px 3px 10px black;
    background-color: #363532;
    border-radius: 5px;
    height: 600px;
    padding: 1px;
}

.sqncd {
    background: #C7C6C6;
    width: 940px;
    height: 545px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px black;
    border-left: none;
    border-right: none; 
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.controlSection {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 240px;
    font-size: 10px;    
}

h1 {
    color: #BC81BF;
}


/* left controls */
.midi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dropArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

select {
    width: 110px;
    height: 25px;
    border-radius: 4px;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    background: black;
}


.tempo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#tempo {
    width: 80px;
    height: 30px;
    font-size: 25px;
    background: black;
    color: white;
    text-align: center;
}

.transport {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.transportButton {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 3px 3px 12px black;
    color: white;
}

#stop {
    background: #EE9ABD;
}

#play {
    background: #C1E1B6;
}


/* midleft controls */
.notes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.octaveArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #BC81BF;
}

.octaveButtonHouse {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.octaveButton {
    width: 20px;
    height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 3px 3px 4px black;
    border-radius: 4px;
    background: white;
}


/* midright controls */

.resetButtonArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.resetHouseArea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;

}

.resetHouse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #BC81BF;
}

.resetButton {
    width: 20px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px 5px black;
    border-radius: 4px;
    background: white;
}


#sqnc, #reset {
    width: 150px;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: 3px 3px 12px black;
}

#reset {
    background-color: #BC81BF;
    color: white;
}


/* right controls */
.rightControls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    width: 200px;
    gap: 40px;
}

#logo {
    color: white;
    font-size: 60px;
    text-shadow: 3px 3px 10px black;
    margin: 0;
}

#sqnc {
    background-color: #5F9F89;
    color: white;
}

/* sqncr */
.sqncr {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    margin-top: 30px;
}

.row {
    display: flex;
}

.gridButton {
    background-color: #5F9F89;
    width: 40px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px 12px black;
    border-radius: 4px;
    color: #5F9F89;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.oddGridButton {
    background-color: #BC81BF;
    color: #BC81BF;
}






