html, body, main {
    margin: 0px;
    padding: 0px;
}

main {
    flex: 1;
}


body {
    font-family: ubuntu, sans-serif;
    background: #8E90A4;
    color: white;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* header section */
.header {
    background-color: #BC81BF;
    box-shadow: 3px 3px 10px black;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    height: 1.5rem;
}

@media screen and (min-width: 44rem) {
    .header {
        font-size: 1.5rem;
        height: 2.8rem;
    }
}

@media screen and (min-width: 62rem) {
    .header {
        font-size: 1.5rem;
        height: 3rem;
        padding-top: .8rem;
        padding-bottom: .8rem;
    }
}

.headerLeft {
    margin-left: 1rem;
}

@media screen and (min-width: 44rem) {
    .headerLeft {
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 62rem) {
    .headerLeft {
        margin-left: 2rem;
    }
}

#muno {
    color: white;
    text-shadow: 3px 3px 10px black;
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
}

@media screen and (min-width: 44rem) {
    #muno {
        font-size: 2.8rem;
    }
}

@media screen and (min-width: 62rem) {
    #muno {
        font-size: 4rem;
    }
}

.headerRight {
    display:flex;
    align-items: center;
    gap: .6rem;
    margin-right: 1rem;
}

@media screen and (min-width: 44rem) {
    .headerRight {
        margin-right: 1.5rem;
        gap: 1.2rem;
    }
}

@media screen and (min-width: 62rem) {
    .headerRight {
        margin-right: 2rem;
        gap: 2rem;
    }
}

/* home page */
.homeBody {
    margin-top: 1rem;
}

#mainSqncdLogo {
    font-size: 2.5rem;
    margin: 0;
    margin-left: .8rem;
    text-shadow: 3px 3px 10px black;
}

@media screen and (min-width: 44rem) {
    #mainSqncdLogo {
        margin-left: 1.5rem;
        font-size: 5rem;
    }
}

@media screen and (min-width: 62rem) {
    #mainSqncdLogo {
        margin-left: 2rem;
        font-size: 6rem;
    }
}

#mainSubscript {
    font-size: .9rem;
    margin-left: .8rem;
    text-shadow: 3px 3px 10px black;
}

@media screen and (min-width: 44rem) {
    #mainSubscript {
        font-size: 1.8rem;
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 62rem) {
    #mainSubscript {
        font-size: 2rem;
        margin-left: 2rem;
    }
}


.homeCopy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
}

@media screen and (min-width: 44rem) {
    .homeCopy {
        gap: 1rem;
    }
}

@media screen and (min-width: 62rem) {
    .homeCopy {
        gap: 1rem;
        flex-wrap: nowrap;
        margin-left: 2rem;
    }
}


#homeImage {
    display: block;
    position: relative;
    border-style: none;
    margin: 0;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 62rem) {
    #homeImage {
        width: 60%;
    }  
}

li {
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 1rem;
}

@media screen and (min-width: 44rem) {
    li {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 62rem) {
    li {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 62rem) {
    .desktopManual, .manual {
        display: none;
    }
}

@media screen and (min-width: 62rem) {
    .mobileManual{
        display: none;
    }

    .manual {
        display: inline;
    }

    .desktopManual {
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        position: absolute;
        margin: 0;
        padding: 0px;
    }
}

/* form pages */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.formButton {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    box-shadow: 3px 3px 12px black;
    background: #BC81BF;
}

.error{
    color: #EE9ABD;
}

/* contact page */
#contactHeader {
    font-size: 4rem;
}

.contactPage {
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 4rem;
}

.contactForm {
    gap: .5em;
}

form label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 10px 0;
  }

  .contact {
    width: 400px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
            border: .15rem solid #C7C6C6;
    padding: 5px;
    font-size: 1.1em;
  }

 .message{
    width: 500px;
    height: 100px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: .15rem solid #C7C6C6;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.1em;
  }
  
  .contactSubmit {
    width: 9rem;
    height: 3rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    box-shadow: 3px 3px 10px black;
    background: #BC81BF;
  }


/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BC81BF;
    color: white;
    box-shadow: 3px 3px 10px black;
    font-size: .7rem;
    width: 100%;
    margin-bottom: 0;
    height: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.sqncdFooter {
    display: none;
}

@media screen and (min-width: 44rem) {
    footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 62rem) {
    footer {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        font-size: 1.25rem;
    }
}