body {
    font-family: ubuntu, sans-serif;
    background: #7B8183;
    margin: 0;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}


/* header section */

.header {
    background-color: #BC81BF;
    box-shadow: 3px 3px 10px black;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    margin-left: 30px;
}

#muno {
    color: white;
    font-size: 40px;
    text-shadow: 3px 3px 10px black;
    margin: 0;
    text-align: center;
}

.headerRight {
    display:flex;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
    font-size: 20px;
}


/*   sqncd section             */

.sqncd {
    background: #5F9F89;
    width: 1000px;
    height: 550px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    padding: 5px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.controlSection {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    font-size: 10px;    
}

.dropdown {
    position: relative;
    display: inline-block;
}

#midiButton {
    height: 30px;
    width: 140px;
    font-size: 20px;
    background-color: #DBDBDB;
    color: white;
    text-shadow: 3px 3px 10px black;
} 

#midiChannelHouse {
    display: none;
    position: relative;
    background: white;
    width: 140px;
}

#midiChannel {
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

#midiButton:hover {
    background: white;
}

.rightControls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    width: 250px;
    margin-left: 20px;
}

#sqnc {
    width: 150px;
    border-radius: 10px;
    font-size: 30px;
    background-color: #DBDBDB;
    color: #BC81BF;
    box-shadow: 3px 3px 12px black;
}

#logo {
    color: white;
    font-size: 60px;
    text-shadow: 3px 3px 10px black;
    margin: 0;
    margin-right: 20px;
}

/* sqncr */
.sqncr {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.gridButton {
    background-color: #DBDBDB;
    width: 35px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px 12px black;
    border-radius: 4px;
}
























/* footer section */

footer {
    display: flex;
    background-color: #BC81BF;
    color: white;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 3px 3px 10px black;
    font-size: 20px;
    width: 100%;
    height: 20px;
    padding: 20px;
    margin-top: auto;
}