<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Free online midi sequencer and random pattern generator">

        <link href="/static/css/style.css" rel="stylesheet">
        {% block head %}{% endblock %}

        <title>sqncd - {% block title %}{% endblock %}</title>

    </head>

    <body>
        <div class="header">
            <div class="headerLeft">
                <a href="/"><h2 id="muno">muno</h2></a>
            </div>
            <div class="headerRight">
                <a href="/sqncd">sqncd</a>
                <a class="manual" href="/quickstart">quickstart guide</a>
                <a href="static/manuals/sqncd_quickstart.pdf"
                class="mobileManual" target="_blank">quick start guide</a>
                <a class="manual" href="/manual">manual</a>
                <a href="static/manuals/sqncd_user_manual.pdf"
                class="mobileManual" target="_blank">manual</a>
                <!-- <a href="/news">news</a> -->
                <a href="/contact">contact</a>
                <!-- <a href="/account">account</a> -->
                <!-- <a href="/login">login</a> -->
            </div>
        </div>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            <div>created by Danny Muñoz | <a href="https://github.com/muno17/sqncd">https://github.com/muno17/sqncd</a><div class="sqncdFooter"> | © 2023 muno audio</div></div>
            <div class="sqncdHide">© 2023 muno audio</div>
        </footer>
    </body>

</html>