<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1", width="device-width">

        <script src="script.js" defer></script>
        <link href="/static/style.css" rel="stylesheet">

        <title>sqncd {% block title %}{% endblock %}</title>

    </head>

    <body>
        <div class="header">
            <div class="headerLeft">
                <a href="/"><h2 id="muno">muno</h2></a>
            </div>
            <div class="headerRight">
                <a href="/account">account</a>
            </div>
        </div>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            <div>created by Danny Muñoz | <a href="https://github.com/muno17">https://github.com/muno17</a>></div>
        </footer>
    </body>

</html>