{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <form method="POST">
        <h1>Change Password</h1>
        <label class="form" for="password">Current Password</label>
        <br>
        <input class="form" type="text" id="password" name="password" placeholder="password">
        <br>
        <br>
        <label class="form" for="password">New Password</label>
        <br>
        <input class="form" type="text" id="newpassword" name="newpassword" placeholder="new password">
        <br>
        <br>
        <label class="form" for="password">Confirm New Password</label>
        <br>
        <input class="form" type="text" id="cnewpassword" name="cnewpassword" placeholder="confirm new password">
    </form>

{% endblock %}