{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <h1>Change Password</h1>
    <form method="POST">
        <label for="password">Current Password</label>
        <br>
        <input type="text" id="password" name="password" placeholder="password">
        <br>
        <br>
        <label for="password">New Password</label>
        <br>
        <input type="text" id="newpassword" name="newpassword" placeholder="new password">
        <br>
        <br>
        <label for="password">Confirm New Password</label>
        <br>
        <input type="text" id="cnewpassword" name="cnewpassword" placeholder="confirm new password">
    </form>
    
{% endblock %}