{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}

    <h1>Register</h1> 
    <form method="POST">
        <label for="username">Username</label>
        <br>
        <input type="text" id="username" name="username" placeholder="username">
        <br>
        <br>
        <label for="username">Email</label>
        <br>
        <input type="text" id="email" name="email" placeholder="email">
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="text" id="password" name="password" placeholder="password">
        <br>
        <br>
        <label for="password">Confirm Password</label>
        <br>
        <input type="text" id="cpassword" name="cpassword" placeholder="confirm password">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <div class="error"> {{ error }} </div1>

{% endblock %}