{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}

    <h1>Register</h1> 
    <h1>Log In</h1>
    <form>
        <label for="username">Username</label>
        <br>
        <input type="text" id="username" name="username">
        <br>
        <br>
        <label for="username">Email</label>
        <br>
        <input type="text" id="email" name="email">
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="text" id="password" name="password">
        <br>
        <br>
        <label for="password">Confirm Password</label>
        <br>
        <input type="text" id="cpassword" name="cpassword">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}