{% extends "layout.html" %}

{% block title %}
    sqncd
{% endblock %}

{% block main %}

        <div class="topBody">
            <div class="sqncdHouse">
                <div class="sqncd">
                    <div class="controls">
                        <div class="topInner">
                            <h1 id="logo">sqncd</h1>
                        </div>
                        <div class="midInner">
    
                        </div>
                    </div>
                    <div class="sqncr">
                        <div id="buttonContainer"></div>

                    </div>
                </div>
            </div>
        </div>
        <script src="/static/script.js" defer></script>

{% endblock %}