{% extends "layout.html" %}

{% block title %}
    sqncr
{% endblock %}

{% block main %}

    <div class="sqncd">
        <div class="controlSection">
            <div class="leftControls controls">
                <div class="tempo">
                    <p>display for tempo goes here</p>
                    <h1>tempo</h1>
                </div>
                <div class="shuffle">
                    <p>display for shuffle goes here</p>
                    <h1>shuffle</h1>
                </div>
                <div class="midi">

                    <div class="dropdown">
                        <button id="midiButton">channel</button>
                        <div id="midiChannelHouse">
                            <div id="midiChannel">1</div>
                            <div id="midiChannel">2</div>
                            <div id="midiChannel">3</div>
                        </div>
                    </div>

                    <h1>midi channel</h1>
                </div>
            </div>
            <div class="midLeftControls controls">
                <div class="scale">
                    <p>dropdown for scale goes here</p>
                    <h1>scale</h1>
                </div>
                <div class="octave">
                    <p>octave section</p>
                    <h1>octave</h1>
                </div>
            </div>
            <div class="midRightControls controls">
                <div class="sqnc">
                    <button id="reset">reset</button>
                </div>
                <div class="sqnc">
                    <button id="sqnc"><em><strong>sqnc</strong></em></button>
                </div>
            </div>
            <div class="rightControls">
                <h1 id="logo">sqncd</h1>
                <div id="display">
                    <div id="topDisplay">
                        <div class="displayText" id="display1">C#C#C#C# | C#C#C#C# | C#C#C#C# | C#C#C#C#</div>
                        <div class="displayText" id="display2">C#C#C#C# | C#C#C#C# | C#C#C#C# | C#C#C#C#</div>
                        <div class="displayText" id="display3">C#C#C#C# | C#C#C#C# | C#C#C#C# | C#C#C#C#</div>
                        <div class="displayText" id="display4">C#C#C#C# | C#C#C#C# | C#C#C#C# | C#C#C#C#</div>
                    </div>
                    <div id="bottomDisplay">
                        <div class="displayText">test test</div> 
                        <div class="displayText">test test</div> 
                        <div class="displayText">test test</div> 
                        <div class="displayText">test test</div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="sqncr">
            <div id="buttonContainer"></div>
        </div>
    </div>

    <script src="/static/sqncd.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/webmidi@latest/dist/iife/webmidi.iife.js"></script>

{% endblock %}