{% extends "layout.html" %}

{% block head %}
    <link href="/static/sqncd.css" rel="stylesheet">
{% endblock %}


{% block title %}
    sqncr
{% endblock %}

{% block main %}
    <div class="sqncdBody">
        <img class="wood" src="static/wood-pattern.png" alt="wooden side panels">
        <div class="sqncd">
            <div class="controlSection">
                <div class="leftControls controls">
                    <div class="midi">
                        <h1>midi</h1>
                        <div class="dropArea">
                            <div class="dropdown" id="midiDevice">device</div>
                            <div class="dropdown" id="midiChannel">channel</div>
                        </div>
                    </div>
                    <div class="tempo">
                        <h1>tempo</h1>
                        <form id="tempoDisplay"><input type="text" id="tempo" maxlength="3"></form>
                    </div>
                    <div class="transport">
                            <button class="transportButton" id="stop">stop</button>
                            <button  class="transportButton" id="play">play</button>
                    </div>
                </div>
                <div class="midLeftControls controls">
                    <div class="notes">
                        <h1>notes</h1>
                        <div class="dropArea">
                            <div class="dropdown" id="key">key</div>
                            <div class="dropdown" id="scale">scale</div>
                        </div>
                    </div>
                    <div class="octave">
                        <h1>octave</h1>
                        <div class="octaveArea">
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-3</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-2</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-1</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>0</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>1</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>2</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>3</div>
                            </div>
                        </div>
                    </div>
                    <div class="sqnc">
                        <button id="sqnc"><em><strong>sqnc</strong></em></button>
                    </div>
                </div>
                <div class="midRightControls controls">
                    <div class="resetButtonArea">
                        <h1>reset</h1>
                        <div class="resetHouseArea">
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>key</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>scale</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>octave</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>steps</h3>
                            </div>
                        </div>
                    </div>
                    <div class="sqnc">
                        <button id="reset">reset</button>
                    </div>
                </div>
                <div class="rightControls">
                    <h1 id="logo">sqncd</h1>
                </div>
            </div>
            <div class="sqncr">
                <div id="buttonContainer"></div>
            </div>
        </div>
        <img class="wood" src="static/wood-pattern.png" alt="wooden side panels">
    </div>

    <script src="/static/sqncd.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/webmidi@latest/dist/iife/webmidi.iife.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.37/Tone.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}