{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/sqncd.css" rel="stylesheet">
{% endblock %}


{% block title %}
    sqncr
{% endblock %}

{% block main %}
    <div class="sqncdBody">
        <img class="wood" src="static/css/wood-pattern.png" alt="wooden side panels">
        <div class="sqncd">
            <div class="controlSection">
                <div class="leftControls controls">
                    <div class="midi">
                        <h1>midi</h1>
                        <div class="dropArea">
                            <div class="dropdown" id="midiDevice">device</div>
                            <div class="dropdown" id="midiChannel">channel</div>
                        </div>
                    </div>
                    <div class="tempo">
                        <h1>tempo</h1>
                        <form id="tempoDisplay"><input type="text" id="tempo" maxlength="3" placeholder="120"></form>
                    </div>
                    <div class="transport">
                            <button class="transportButton" id="stop">stop</button>
                            <button  class="transportButton" id="play">play</button>
                    </div>
                </div>
                <div class="midLeftControls controls">
                    <div class="notes">
                        <h1>notes</h1>
                        <div class="dropArea">
                            <div class="dropdown" id="key">key</div>
                            <div class="dropdown" id="scale">scale</div>
                        </div>
                    </div>
                    <div class="octave">
                        <h1>octave</h1>
                        <div class="octaveArea">
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-3</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-2</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-1</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>0</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>1</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>2</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>3</div>
                            </div>
                        </div>
                    </div>
                    <div class="sqnc">
                        <button id="sqnc"><em><strong>sqnc</strong></em></button>
                    </div>
                </div>
                <div class="midRightControls controls">
                    <div class="resetButtonArea">
                        <h1>reset</h1>
                        <div class="resetHouseArea">
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>key</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>scale</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>octave</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>steps</h3>
                            </div>
                        </div>
                    </div>
                    <div class="sqnc">
                        <button id="reset">reset</button>
                    </div>
                </div>
                <div class="rightControls">
                    <h1 id="logo">sqncd</h1>
                </div>
            </div>
            <div class="sqncr">
                <div id="buttonContainer">
                    <div class="row" id="a">
                        <button class="gridButton rowOne" id="1a"></button>
                        <button class="gridButton rowOne" id="2a"></button>
                        <button class="gridButton rowOne" id="3a"></button>
                        <button class="gridButton rowOne" id="4a"></button>
                        <button class="gridButton rowOne oddGridButton" id="5a"></button>
                        <button class="gridButton rowOne oddGridButton" id="6a"></button>
                        <button class="gridButton rowOne oddGridButton" id="7a"></button>
                        <button class="gridButton rowOne oddGridButton" id="8a"></button>
                        <button class="gridButton rowOne" id="9a"></button>
                        <button class="gridButton rowOne" id="10a"></button>
                        <button class="gridButton rowOne" id="11a"></button>
                        <button class="gridButton rowOne" id="12a"></button>
                        <button class="gridButton rowOne oddGridButton" id="13a"></button>
                        <button class="gridButton rowOne oddGridButton" id="14a"></button>
                        <button class="gridButton rowOne oddGridButton" id="15a"></button>
                        <button class="gridButton rowOne oddGridButton" id="16a"></button>
                    </div>
                    <div class="row" id="row2">
                        <button class="gridButton rowTwo" id="1b"></button>
                        <button class="gridButton rowTwo" id="2b"></button>
                        <button class="gridButton rowTwo" id="3b"></button>
                        <button class="gridButton rowTwo" id="4b"></button>
                        <button class="gridButton rowTwo oddGridButton" id="5b"></button>
                        <button class="gridButton rowTwo oddGridButton" id="6b"></button>
                        <button class="gridButton rowTwo oddGridButton" id="7b"></button>
                        <button class="gridButton rowTwo oddGridButton" id="8b"></button>
                        <button class="gridButton rowTwo" id="9b"></button>
                        <button class="gridButton rowTwo" id="10b"></button>
                        <button class="gridButton rowTwo" id="11b"></button>
                        <button class="gridButton rowTwo" id="12b"></button>
                        <button class="gridButton rowTwo oddGridButton" id="13b"></button>
                        <button class="gridButton rowTwo oddGridButton" id="14b"></button>
                        <button class="gridButton rowTwo oddGridButton" id="15b"></button>
                        <button class="gridButton rowTwo oddGridButton" id="16b"></button>
                    </div>                    
                    <div class="row" id="row3">
                        <button class="gridButton rowThree" id="1c"></button>
                        <button class="gridButton rowThree" id="2c"></button>
                        <button class="gridButton rowThree" id="3c"></button>
                        <button class="gridButton rowThree" id="4c"></button>
                        <button class="gridButton rowThree oddGridButton" id="5c"></button>
                        <button class="gridButton rowThree oddGridButton" id="6c"></button>
                        <button class="gridButton rowThree oddGridButton" id="7c"></button>
                        <button class="gridButton rowThree oddGridButton" id="8c"></button>
                        <button class="gridButton rowThree" id="9c"></button>
                        <button class="gridButton rowThree" id="10c"></button>
                        <button class="gridButton rowThree" id="11c"></button>
                        <button class="gridButton rowThree" id="12c"></button>
                        <button class="gridButton rowThree oddGridButton" id="13c"></button>
                        <button class="gridButton rowThree oddGridButton" id="14c"></button>
                        <button class="gridButton rowThree oddGridButton" id="15c"></button>
                        <button class="gridButton rowThree oddGridButton" id="16c"></button>
                    </div>                    
                    <div class="row" id="row4">
                        <button class="gridButton rowFour" id="1d"></button>
                        <button class="gridButton rowFour" id="2d"></button>
                        <button class="gridButton rowFour" id="3d"></button>
                        <button class="gridButton rowFour" id="4d"></button>
                        <button class="gridButton rowFour oddGridButton" id="5d"></button>
                        <button class="gridButton rowFour oddGridButton" id="6d"></button>
                        <button class="gridButton rowFour oddGridButton" id="7d"></button>
                        <button class="gridButton rowFour oddGridButton" id="8d"></button>
                        <button class="gridButton rowFour" id="9d"></button>
                        <button class="gridButton rowFour" id="10d"></button>
                        <button class="gridButton rowFour" id="11d"></button>
                        <button class="gridButton rowFour" id="12d"></button>
                        <button class="gridButton rowFour oddGridButton" id="13d"></button>
                        <button class="gridButton rowFour oddGridButton" id="14d"></button>
                        <button class="gridButton rowFour oddGridButton" id="15d"></button>
                        <button class="gridButton rowFour oddGridButton" id="16d"></button>
                    </div>
                </div>    
            </div>
        </div>
        <img class="wood" src="static/css/wood-pattern.png" alt="wooden side panels">
    </div>

    <script src="static/javascript/sqncd.js" type="module" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/webmidi@latest/dist/iife/webmidi.iife.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.37/Tone.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
{% endblock %}