{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/sqncd.css" rel="stylesheet">
{% endblock %}


{% block title %}
    sqncr
{% endblock %}

{% block main %}
    <div class="sqncdBody">
        <img class="wood" src="static/css/wood-pattern.png" alt="wooden side panels">
        <div class="sqncd">
            <div class="controlSection">
                <div class="leftControls controls">
                    <div class="midi">
                        <h1>midi</h1>
                        <div class="dropArea">
                            <div class="dropdown" id="midiDevice">device</div>
                            <div class="dropdown" id="midiChannel">channel</div>
                        </div>
                    </div>
                    <div class="tempo">
                        <h1>tempo</h1>
                        <form id="tempoDisplay"><input type="text" id="tempo" maxlength="3" placeholder="120"></form>
                    </div>
                    <div class="transport">
                            <button class="transportButton" id="stop">stop</button>
                            <button  class="transportButton" id="play">play</button>
                    </div>
                </div>
                <div class="midLeftControls controls">
                    <div class="notes">
                        <h1>notes</h1>
                        <div class="dropArea">
                            <div class="dropdown" id="key">key</div>
                            <div class="dropdown" id="scale">scale</div>
                        </div>
                    </div>
                    <div class="octave">
                        <h1>octave</h1>
                        <div class="octaveArea">
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-3</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-2</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>-1</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>0</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>1</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>2</div>
                            </div>
                            <div class="octaveButtonHouse">
                                <button class="octaveButton"></button>
                                <div>3</div>
                            </div>
                        </div>
                    </div>
                    <div class="sqnc">
                        <button id="sqnc"><em><strong>sqnc</strong></em></button>
                    </div>
                </div>
                <div class="midRightControls controls">
                    <div class="resetButtonArea">
                        <h1>reset</h1>
                        <div class="resetHouseArea">
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>key</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>scale</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>octave</h3>
                            </div>
                            <div class="resetHouse">
                                <button class="resetButton"></button>
                                <h3>steps</h3>
                            </div>
                        </div>
                    </div>
                    <div class="sqnc">
                        <button id="reset">reset</button>
                    </div>
                </div>
                <div class="rightControls">
                    <h1 id="logo">sqncd</h1>
                </div>
            </div>
            <div class="sqncr">
                <div id="buttonContainer">
                    <div class="row" id="a">
                        <button class="gridButton rowOne false" id="1a">m</button>
                        <button class="gridButton rowOne false" id="2a">m</button>
                        <button class="gridButton rowOne false" id="3a">m</button>
                        <button class="gridButton rowOne false" id="4a">m</button>
                        <button class="gridButton rowOne oddGridButton false" id="5a">m</button>
                        <button class="gridButton rowOne oddGridButton false" id="6a">m</button>
                        <button class="gridButton rowOne oddGridButton false" id="7a">m</button>
                        <button class="gridButton rowOne oddGridButton false" id="8a">m</button>
                        <button class="gridButton rowOne false" id="9a">m</button>
                        <button class="gridButton rowOne false" id="10a">m</button>
                        <button class="gridButton rowOne false" id="11a">m</button>
                        <button class="gridButton rowOne false" id="12a">m</button>
                        <button class="gridButton rowOne oddGridButton false" id="13a">m</button>
                        <button class="gridButton rowOne oddGridButton false" id="14a">m</button>
                        <button class="gridButton rowOne oddGridButton false" id="15a">m</button>
                        <button class="gridButton rowOne oddGridButton false" id="16a">m</button>
                    </div>
                    <div class="row" id="row2">
                        <button class="gridButton rowTwo false" id="1b">m</button>
                        <button class="gridButton rowTwo false" id="2b">m</button>
                        <button class="gridButton rowTwo false" id="3b">m</button>
                        <button class="gridButton rowTwo false" id="4b">m</button>
                        <button class="gridButton rowTwo oddGridButton false" id="5b">m</button>
                        <button class="gridButton rowTwo oddGridButton false" id="6b">m</button>
                        <button class="gridButton rowTwo oddGridButton false" id="7b">m</button>
                        <button class="gridButton rowTwo oddGridButton false" id="8b">m</button>
                        <button class="gridButton rowTwo false" id="9b">m</button>
                        <button class="gridButton rowTwo false" id="10b">m</button>
                        <button class="gridButton rowTwo false" id="11b">m</button>
                        <button class="gridButton rowTwo false" id="12b">m</button>
                        <button class="gridButton rowTwo oddGridButton false" id="13b">m</button>
                        <button class="gridButton rowTwo oddGridButton false" id="14b">m</button>
                        <button class="gridButton rowTwo oddGridButton false" id="15b">m</button>
                        <button class="gridButton rowTwo oddGridButton false" id="16b">m</button>
                    </div>                    
                    <div class="row" id="row3">
                        <button class="gridButton rowThree false" id="1c">m</button>
                        <button class="gridButton rowThree false" id="2c">m</button>
                        <button class="gridButton rowThree false" id="3c">m</button>
                        <button class="gridButton rowThree false" id="4c">m</button>
                        <button class="gridButton rowThree oddGridButton false" id="5c">m</button>
                        <button class="gridButton rowThree oddGridButton false" id="6c">m</button>
                        <button class="gridButton rowThree oddGridButton false" id="7c">m</button>
                        <button class="gridButton rowThree oddGridButton false" id="8c">m</button>
                        <button class="gridButton rowThree false" id="9c">m</button>
                        <button class="gridButton rowThree false" id="10c">m</button>
                        <button class="gridButton rowThree false" id="11c">m</button>
                        <button class="gridButton rowThree false" id="12c">m</button>
                        <button class="gridButton rowThree oddGridButton false" id="13c">m</button>
                        <button class="gridButton rowThree oddGridButton false" id="14c">m</button>
                        <button class="gridButton rowThree oddGridButton false" id="15c">m</button>
                        <button class="gridButton rowThree oddGridButton false" id="16c">m</button>
                    </div>                    
                    <div class="row" id="row4">
                        <button class="gridButton rowFour false" id="1d">m</button>
                        <button class="gridButton rowFour false" id="2d">m</button>
                        <button class="gridButton rowFour false" id="3d">m</button>
                        <button class="gridButton rowFour false" id="4d">m</button>
                        <button class="gridButton rowFour oddGridButton false" id="5d">m</button>
                        <button class="gridButton rowFour oddGridButton false" id="6d">m</button>
                        <button class="gridButton rowFour oddGridButton false" id="7d">m</button>
                        <button class="gridButton rowFour oddGridButton false" id="8d">m</button>
                        <button class="gridButton rowFour false" id="9d">m</button>
                        <button class="gridButton rowFour false" id="10d">m</button>
                        <button class="gridButton rowFour false" id="11d">m</button>
                        <button class="gridButton rowFour false" id="12d">m</button>
                        <button class="gridButton rowFour oddGridButton false" id="13d">m</button>
                        <button class="gridButton rowFour oddGridButton false" id="14d">m</button>
                        <button class="gridButton rowFour oddGridButton false" id="15d">m</button>
                        <button class="gridButton rowFour oddGridButton false" id="16d">m</button>
                    </div>
                </div>    
            </div>
        </div>
        <img class="wood" src="static/css/wood-pattern.png" alt="wooden side panels">
    </div>

    <script src="static/javascript/sqncd.js" type="module" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/webmidi@latest/dist/iife/webmidi.iife.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.37/Tone.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
{% endblock %}